*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#050816;
color:white;
}

.splash{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#050816;
}

.logo{
font-size:90px;
animation:zoom 2s ease;
}

@keyframes zoom{
0%{transform:scale(.2);opacity:0;}
100%{transform:scale(1);opacity:1;}
}

.splash h1{
font-size:50px;
color:#00c8ff;
}

.splash p{
color:#9ca3af;
margin-top:10px;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#0b1220;
}

.navbar div{
display:flex;
gap:20px;
}

.home{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.home h1{
font-size:55px;
}

.home p{
margin:20px 0;
font-size:22px;
color:#94a3b8;
}

.home button{
padding:15px 35px;
border:none;
border-radius:10px;
background:#00c8ff;
font-weight:bold;
cursor:pointer;
}

.footer{
padding:20px;
text-align:center;
background:#0b1220;
}
